.inputBox {
    padding: 7px;
    display: block;
    border: 1px solid skyblue;
    width: 300px;
    margin: 20px;
}

.appButton {
    margin: 20px;
    width: 150px;
    padding: 10px;
    background-color: skyblue;
    border: solid;
    cursor: pointer;

}

.register {
    margin-top: 100px;
}
